@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --BGCOLOR-WHITE: hsl(0, 0%, 100%);
  --BGCOLOR-SLATE-300: hsl(212, 45%, 89%);
  --BGCOLOR-SLATE-500: hsl(216, 15%, 48%);
  --BGCOLOR-SLATE-900: hsl(218, 44%, 22%);

  --FS: 1.2rem;
  --FW-400: 400;
  --FW-700: 700;
  --FF: "Outfit", sans-serif;
}

body {
  text-align: center;
  min-height: 100svh;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR-SLATE-300);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
}

main {
  margin: 20px;
  align-items: center;
}

article {
  max-width: 20rem;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;

  background-color: var(--BGCOLOR-WHITE);
  border-radius: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  line-height: 1.1;
  font-size: 1.4rem;
}

p {
  color: var(--BGCOLOR-SLATE-500);
  font-size: 1.1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 30px;
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
