@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --BGCOLOR-WHITE: hsl(0, 0%, 100%);
  --BGCOLOR-SLATE-300: hsl(212, 45%, 89%);
  --BGCOLOR-SLATE-500: hsl(216, 15%, 48%);
  --BGCOLOR-SLATE-900: hsl(218, 44%, 22%);

  --FS: 15px;
  --FW-400: 400;
  --FW-700: 700;
  --FF: "Outfit", sans-serif;
}

body {
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR-SLATE-300);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  margin-top: 20vh;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

article {
  width: 100%;
  height: 60vh;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--BGCOLOR-WHITE);
  border-radius: 30px;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

p {
  color: var(--BGCOLOR-SLATE-900);
}

img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: 10vh;
}
